<div class="about-page">
  <div class="title">About Me</div>
  <div class="basic-info">
    <img src="./././assets/img/girl-programmer.png" alt="girl-programmer">
    <img src="./././assets/img/about-me.png" alt="about-me">
    <div>
      <h3>Basic Information</h3>
      <div>
        <p> <span class="question">First and Last Name: </span><span class="answer"> Tannaz Khalili</span></p>
        <p><span class="question">Marital Status: </span> <span class="answer">Single</span></p>
        <p><span class="question">Location: </span> <span class="answer">IRAN - Tehran</span></p>
<!--        <p><span class="question">Phone Number: </span> <em></em></p>-->
        <p><span class="question">Email: </span><span class="answer">khalili_tannaz@yahoo.com</span></p>
        <p><span class="question">Language: </span><span class="answer">English , Spanish , Persian</span></p>
      </div>
    </div>
  </div>
  <div class="more-about-me">
    Front-end Developer with 3 years of experience at different companies in helping companies create and maintain a better code base for reusability. Passionate about learning new technologies, and new languages and communicating with new people to apply skills on a larger development team.Eager to tackle more complex problems and continue to find ways to maximize user efficiency. Solving problems and new challenges, making me feel good, and cheering me on new ones. I'm always trying to be updated. To learn more about me, you can follow me on social media.  </div>
</div>
