.menu{
  font-size: 1rem;
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  -webkit-box-shadow: 0px 10px 13px -7px rgba(246, 240, 240, 0.61), 0px 2px 20px 3px rgba(0,0,0,0.35);
  box-shadow: 0px 10px 13px -7px rgba(236, 226, 226, 0.38), 0px 2px 20px 3px rgba(0,0,0,0.35);
  z-index: 10;
  .menu-item{
    height: 100%;
    line-height: 50px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    transition: 500ms ease-in-out;
    border-radius: 10px;
    &:first-child{
      margin-right:auto;
    }
    &:hover:not(.menu-item:first-child){
      border-bottom: 0.2px solid rgba(96, 10, 79, 0.92);
    }
  }
}
.selected-menu{
  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 724px) {
  .menu {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    .menu-item{
      line-height: 20px;
      &:first-child{
      width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .menu {
    .menu-item{
      text-align: center;
      width: 10%!important;
      &:first-child{

      }
    }
  }
}
